version: '3.8'
services:
  worker:
    image: robounord/pgsql_backups:1.11
    container_name: pgsql_backups
    command: python src/main.py
    environment:
      TZ: ${TIME_ZONE}
      DOCKER_REPO: ${DOCKER_REPO}
      DOCKER_CONTAINER: ${DOCKER_CONTAINER}
      GITHUB_README: ${GITHUB_README}
      UPTIME_KUMA_URL: ${UPTIME_KUMA_URL}
      UPTIME_KUMA_URL_CHECK: ${UPTIME_KUMA_URL_CHECK}
      PROJECT_HOST_FOLDER: ${PROJECT_HOST_FOLDER}
      JSON_DB_CONFIG_FILE: ${JSON_DB_CONFIG_FILE}
      BASE_BACKUP_DIR_HOST_FOLDER: ${BASE_BACKUP_DIR_HOST_FOLDER}
      LOG_FILE: ${LOG_FILE}
      MAIN_LOOP_TIME: ${MAIN_LOOP_TIME}
    volumes:
    - ${PROJECT_HOST_FOLDER}/${JSON_DB_CONFIG_FILE}:/app/src/json_db_config.json
    - ${PROJECT_HOST_FOLDER}/${LOG_FILE}:/app/src/pgsql_backup.log
    - ${PROJECT_HOST_FOLDER}/${BASE_BACKUP_DIR_HOST_FOLDER}:/app/src/projects_backup_files
